.DS_Store
.env
unused_code
local_certs
logs
__pycache__

# Created by alladin code
dataset
runs

# Local settings
.vscode/settings.json

# Path to store images to train
{XDG_CACHE}
.cache

# Where local repos are installed
src

# egg file create from setup.py 
latent_diffusion.egg-info
taming

# Where the downloaded weights are stored
models/*/**

# Where the outputs are store
outputs/*